swagger: '2.0'
info:
  description: >- 
    **API Tennis** est une API qui permet d'obtenir des informations relatives au monde du tennis professionnel :

    * Joueurs

    * Matchs

    * Résultats des matchs

    * Statistiques des joueurs   
  version: 1.0.0
  title: API Tennis
  termsOfService: 'http://swagger.io/terms/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: "localhost:3000"
basePath: "/api"
apis: ["apiTennis.js"]
tags:
- name: "Joueur"
  description: "à propos d'un joueur"
- name: "Match"
  description: "à propos d'un match"
- name: "Résultats"
  description: "à propos des résultats d'un match"
- name: "Statistiques"
  description: "à propos des statistiques d'un joueur"
schemes:
- "http"
securityDefinitions:
  basicAuth:
    type: basic
  
definitions:
  Joueur:
    type: object
    required:
      - id
      - nom
      - prenom
      - age
      - taille
      - classement
    properties:
      nom:
        type: string
      prenom:
        type: string
      age:
        type: integer
        format: int
      taille:
        type: string
      classement:
        type: integer
        format: int

  Match:    

  Resultat:

  Statistiques:

paths:
  /joueurs:
    get:
      tags:
        - "Joueur"
      summary: "Voir la liste de tous les joueurs"
      description: ''
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Joueur'
    
  /joueur?nom={nom}&prenom={prenom}:
    get: 
      tags:
      - "Joueur"
      summary: "Rechercher un joueur"
      description: "Veuillez renseigner les champs \"nom\" et \"prenom\"."
      parameters:
        - in: query
          name: nom
          type: "string"
          required: false
          description: Nom du joueur
        - in: query
          name: prenom
          type: "string"
          required: false
          description: Prénom du joueur
      produces:
      - "application/json"
      responses:
        '404':
          description: "Not Found"
        '200':
          description: "OK"
          schema:
            $ref: "#/definitions/Joueur"
  
  /matchs/prochains:
    get: 
      tags:
      - "Match"
      summary: "Voir les prochains matchs"
      description: ""
      produces:
      - "application/json"
      responses:
        '404':
          description: "Not Found"
        '200':
          description: "OK"
          schema:
            $ref: ""
  
  /resultats:
    get: 
      tags:
      - "Résultats"
      summary: "Voir les résultats d'un match"
      description: "Veuillez renseigner les champs \"nomJoueur1\" et \"nomJoueur2\"."
      parameters:
        - in: query
          name: nomJoueur1
          type: "string"
          required: false
          description: Nom du joueur 1
        - in: query
          name: nomJoueur2
          type: "string"
          required: false
          description: Nom du joueur 2
      produces:
      - "application/json"
      responses:
        '404':
          description: "Not Found"
        '200':
          description: "OK"
          schema:
            $ref: ""
  
  /statistiques:
    get: 
      tags:
      - "Statistiques"
      summary: "Consulter les statistiques d'un joueur"
      description: "Veuillez renseigner les champs \"nomJoueur\" et \"nbMatchs\"."
      parameters:
        - in: query
          name: nomJoueur
          type: "string"
          required: false
          description: Nom du joueur
        - in: query
          name: nbMatchs
          type: "string"
          required: false
          description: Nombre de matchs
      produces:
      - "application/json"
      responses:
        '404':
          description: "Not Found"
        '200':
          description: "OK"
          schema:
            $ref: ""